body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}
h1{
    margin: 0;
    text-align: center;
}
button{
    background-color: white;
    border:thin solid green;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    color: green;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

button:active {
    background: rgb(177, 219, 177);
}

@media not (hover: none) {
    button:hover, button:active {
        background: rgb(177, 219, 177);
    }  
}


html {
    margin: 0px;
 }
 
 body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    min-height: 100vh;
    min-width: 100vw;
 }


 .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-block: 24px;
 }